.pot_4 {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-weight: bold;
    background-color: black;
    border-radius: 0px 0px 5px 5px;
    color: white;
    padding: 4px 10px;
    margin: 4px 5px 0px 5px;
    font-size: 14px;
}

.pot_4 .pot {
    color: white;
    font-size: 24px;
    text-align: right;
    font-weight: bold;
}
